In [3]:
import pandas as pd

In [1]:
!open Final_Comments.xlsx

In [4]:
df = pd.read_excel("Final_Comments.xlsx", header = None)
df.columns = ["Cells"]
WHO = pd.read_csv("WHO.csv", index_col = "NUMBER")
df

                                                Cells
0   34644 \n5670 \n15410 \n36389 \n5679 \n15416 \n...
1                               35670 \n37166 \n38939
2   35340 \n35562 \n5885 \n38876 \n39146 \n5887 \n...
3   35756 \n35754 \n6205 \n6204 \n6211 \n39645 \n1...
4   34754 \n37991 \n39207 \n40644 \n40642 \n41711 ...
5   15926 \n35361 \n35767 \n15941 \n15945 \n38808 ...
6                                                 NaN
7   3037 \n3040 \n3105 \n3051 \n3055 \n38778 \n387...
8   35807 \n36002 \n8908 \n16685 \n37121 \n8913 \n...
9   35614 \n9954 \n16996 \n9960 \n39272 \n16999 \n...
10  17236 \n34457 \n33284 \n10376 \n10375 \n39822 ...
11  36425 \n9056 \n39735 \n39737 \n9054 \n41800 \n...
12  36176 \n36438 \n36621 \n36622 \n36894 \n37666 ...
13  33164 \n33162 \n33148 \n33147 \n12365 \n33160 ...
14  18064 \n36913 \n37867 \n12557 \n37914 \n38355 ...
15      13118 \n13130 \n13135 \n39841 \n13148 \n13150

In [6]:
def is_number(x):
        try:
            int(x)
            return True
        except ValueError:
            return False

def formatlink(link):
    if "\n\n" in link:
        link = link.replace("\n\n", "  OR  ")
    elif "\n" in link:
        link = link.replace("\n", "  OR  ")
    return link
        
def formatval(val):
    if len(str(val)) == 0:
        return val
    if str(val) == "0":
        return "No missing entries. Hurray!"
    L = str(val).split("\n")
    if len(L) == 1:
        if "N/A" in L[0] or str(val) == "nan":
            return "N/A"
        elif "there is" in L[0].lower():
            return val
        cell = "1 entry missing from CoronaNet."
    else:
        if "WARNING" in L[0]:
            cell = L[0] + "\n" + str(len(L) - 1) + " entries missing from CoronaNet."
            L = L[1:]
        else:
            cell = str(len(L)) + " entries missing from CoronaNet."
    cell += "\nWHO_ID#\tSTART_DATE\tSCOPE\tPOLICY\tLINK\n"
    for line in L:
        number = int(line)
        date = str(WHO.loc[number, "DATE_START"])
        scope = str(WHO.loc[number, "ADMIN_LEVEL"])
        if scope != "national":
            if str(WHO.loc[number, "AREA_COVERED"]) != "":
                scope = str(WHO.loc[number, "AREA_COVERED"])
        measure = str(WHO.loc[number, "PROV_MEASURE"])
        link = formatlink(str(WHO.loc[number, "LINK"]))
        space = " "
        if is_number(measure[1]):
            measure = measure[4:-3]
        else:
            measure = space + measure
        cell += str(number) + space + date + space + scope + measure + space + link + "\n"
    return cell 

pd.set_option("max_colwidth", None)
df.applymap(formatval).to_excel("Final_Comments.xlsx")

In [7]:
!open Final_Comments.xlsx

In [45]:
!open Uhhh.xlsx

In [53]:
str(df.loc[5, "Cells"])

'nan'